
<br />
<br />
<br />

<div class='container'>
	<div class='row'>
		<div id='savings-form' class='span5'>
			<form>
				<legend>Savings Calculator</legend>
				<div class='row'>
				  <div class='span2'>
				  	<label>What do you want?</label> 
				  	<input class='input-medium' type='text' ng-model='goalName'>
				  </div>
				  <div class='span2'>
				  	<label>How much does it cost?</label>
				  	<span class="input-prepend">
				  		<span class="add-on">$</span><input class='input-small' type='text' ng-model='goalTarget'>
				  	</span>
				  </div>
				</div>
				<div class='row'>
				  <div class='span2'>
				  	<label>When do you want it by?</label>
				  		<input class='input-medium' type='text' ng-model='goalEndDate' ui-date>
				  </div>
				  <div class='span2'>
				  	<label>How much do you have?</label>
				  	<span class="input-prepend">
				  		<span class="add-on">$</span><input class='input-small' type='text' ng-model='goalCurrentSavings'>
				  	</span>
				  </div>
				</div>
			</form>

		</div>
		<div id='graph' class='span7'>
		</div>

	</div>
</div>