<ul id="nav">
  <li><a href="#intro" title="Next Section"></a></li>
    <li><a href="#second" title="Next Section"></a></li>
    <li><a href="#third" title="Next Section"></a></li>
    <li><a href="#fourth" title="Next Section"></a></li>
</ul>

<div id="intro" class="container slide">
      <div class="span6">
        <p>
          <!-- <img src="img/kids.jpeg" width="400px"> -->
        <!-- <img src="img/video.png"> -->
        </p>
      </div>
      <div class="span5">
        <h2>Understand. Save. Invest.</h2>
        <p>monee is the all-purpose money tool for you to take control of your finances and understand how to achieve your financial goals.</p>
        <div class="offset3">
        <p>
          <a class="btn btn-primary btn-large">
            Get Started &raquo;
          </a>
        </p>
        </div>
      </div>
</div>

<div id="second" class="container slide pad-lrg">
  <div class="offset6 span4 animate-in" data-animation="fly-in-right">
    <h2>How Much Am I Worth?</h2>
    <p>See how much you are worth using simple, secure and automated integration with all your various accounts.</p>
    <div class="offset2">
      <p>
        <a class="btn btn-primary btn-large">
          Find Out &raquo;
        </a>
      </p>
    </div>
  </div>
</div>

<div id="third" class="container slide pad-lrg">
  <div class="pad-sml"></div>
  <div class="span4 offset2">
    <img src="img/house.jpeg"/>
  </div>
  <div class="span5 animate-in" data-animation="space-in">
    <h2>Save for the good things in life</h2>
    <p>Set investment goals and track your spending so that you can achieve your financial dreams.</p>
    <br />
    <br />
    <div class="offset2">
      <p>
        <a class="btn btn-primary btn-large">
          Go For It &raquo;
        </a>
      </p>
    </div>
  </div>
</div>

<div id="fourth" class="container slide pad-lrg">
  <div class="span4 offset4 pad-med">
    <h2>100% Secure</h2>
    <p>Our site use super secure, safe technically advanced mecho-gadget-wizmos to ensure nothing ever happens to your money stuffs, ever.</p>
    <div class="offset2">
      <p>
        <a class="btn btn-primary btn-large">
          I'm in! &raquo;
        </a>
      </p>
    </div>
  </div>
  <div class="span3">
    <img src="img/diary.jpeg"/>
  </div>
</div>

<script src="js/landing.js"></script>